.container-style{
    height: 100vh;
    height: 100vh;
    overflow: hidden;
    position: relative;
  
}

.description{

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    width: 80%;
}

.bg{
    position: absolute;
    
    width: 100%;
    top: 50%;
    left: 50%;
   
    z-index: 1;
}

.parallax{
    position: absolute;
    transition: 0.45s cubic-bezier(0.2, .49, 0.30, .99);
    

 
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.m{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    top: calc(50% + 50px);
    z-index: 3;

}
