.province-card {
    position: relative;
    background: none;
    border-radius: 20px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s;
    cursor: pointer;
    margin: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
    width: calc(50% - 40px); 
    aspect-ratio: 16/9;
}

.province-card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.province-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px; 
    transition: transform 0.3s ease; 
}

.province-card:hover .province-image {
    transform: scale(1.1); 
}

.province-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    transition: background 0.3s ease, opacity 0.3s ease; 
}

.province-content h3 {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

.province-content p {
    margin: 5px 0 0;
    font-size: 1em;
    opacity: 0.8;
    display: none; 
}

.province-card:hover .province-content {
    
    opacity: 1; 
}

.province-card:hover .province-content p {
    display: block; 
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

.modal {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 600px;
    width: 80%;
    animation: scaleUp 0.3s forwards;
}

.modal h2 {
    margin-top: 0;
}

.modal p {
    margin: 10px 0 20px;
}



@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0.9);
    }
    to {
        transform: scale(1);
    }
}

