.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: transparent;
    padding: 20px 40px 20px 20px; /* Increase right padding */
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.modal-content::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 12px; 
    background: none;
    border: none;
    font-size: 14px; 
    cursor: pointer;
    color: #333; 
    border-radius: 50%; 
    padding: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.close-button:hover {
    background-color: rgba(0, 0, 0, 0.1); 
    transform: rotate(90deg); 
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 0; 
    justify-content: center;
    background: transparent; 
}

.video-item {
    flex: 1 1 calc(33.333% - 2px); 
    box-sizing: border-box;
    background: transparent; 
    transition: border 0.3s ease, filter 0.3s ease;
    position: relative;
}

.video-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    transition: opacity 0.3s ease;
}

.video-item:hover::before {
    opacity: 0; 
}

.video-item:hover {
    border: 2px solid #fff; 
}

.gallery-video {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
}
.video-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-item:hover .video-title {
    opacity: 1;
}